body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*==================================================== index part style ====================================================== */
.top-banner{
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    width: 90%;
    background-color:#161616;
    margin-top: 40px;
    border-radius: 30px;
    margin-bottom: 100px;

}
.half-width{
    width: 50%;
    color: white;
    margin-left: 70px;
    
}
h1{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.half-width p{
    margin-bottom: 40px;
}

.watch{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    transition: transform 1.5s, border-radius 1.5s;
}

.watch:hover {
    transform:scale(1.5);
    border-radius: 30px;
    box-shadow: 0px 0px 15px #ff0000;
}
.fa-angle-right{
    padding-left: 5px;
    font-size: 14px;
}
.half-width img{
    width: 100%;
}




.blog{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.transfer-box{
    display: flex;
    width: 90%;
    
    align-items: stretch;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    height: 200px;
    margin-right: 20px;
    padding: 10px;
}


.box1 a{
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 10px;
    border-radius: 10px ;
}
.box1 a.upmatch{
    padding: 10px 30px;

}
.box1 a.group{
    padding: 10px 60px;
}

.box1 a.blogs{
    padding: 10px 80px;
}
#common{
    background-color: red;
}

.box2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    flex-grow: 1;
   
}
.transfer{
    border: 1px solid rgb(218, 214, 214);
    border-radius: 5px;
}
.thumbnail img{
    height: 150px;
    width: 286px;
}

.transfer-details{
    padding: 20px;
}
.transfer-details p a{
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 5px;
}
.transfer-info{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 15px;

}
.transfer-info > div{
    color: gray;
}


.comment{
    padding-left: 40px;
}


.view{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;

}
.view a{
    display: none;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px 30px;
}

.footer{
    color: white;
    background-color: black;
}
.footer h2{
    padding-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
hr{
    width: 90%;
    border: 1px solid gray;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
   
}
.foot a{
    text-decoration: none;
    color: grey;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 50px;
}
.social a{
    text-decoration: none;
    padding: 20px;
}

.fa-facebook{
    color:#3b5998;
    font-size: 25px;
    background-color: white;
    padding: 5px;
}
.fa-instagram{
    color: #C13584;
    font-size: 25px;
    background-color: white;
    padding: 5px;
}
.fa-linkedin{
    color:  #0e76a8;
    font-size: 25px;
    background-color: white;
    padding: 5px;
}
.fa-github{
    color:rgb(1, 5, 52);
    font-size: 25px;
    background-color: white;
    padding: 5px;
}

/* ==========================================================index part style end ================================================= */

/*=================================================== matches part style start ====================================================== */
.matches{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 10px;
    padding: 10px;
}
.match{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.match span{
    margin: 0px 15px;
}
.match-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}

/* =================================================matches part style end ===================================================== */



/* ====================================================Responsive design style start ================================================== */

/*====================== mobile device=========== */
@media only screen and (max-width:576px) {
    .container{
        width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .short-msg{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .half-width img{
        margin-top:20px ;
    }
    .transfer-box{
       display: flex;
       flex-direction: column;
    }
    .box1{
        display: flex;
        flex-direction: column;
        background-color: white;
        
    }
    .thumbnail{
        display: flex;
        justify-content: center;
        
    }
    .upmatch {
        border: 1px solid grey;
    }
    .group{
        border: 1px solid grey;
    }
    .blogs{
        border: 1px solid grey;
    }
    .box2{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .foot a{
        margin: 10px 0px;
    }
    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*====================== Tablet design ============================ */
@media only screen and (min-width:577px) and (max-width:992px) {
    .transfer-box{
        display: flex;
        flex-direction: column;
     }
     .box1{
         display: flex;
         flex-direction: row;
         background-color: white;
         justify-content: center;
         
     }
     .upmatch {
        border: 1px solid grey;
    }
    .group{
        border: 1px solid grey;
    }
    .blogs{
        border: 1px solid grey;
    }
    .box2{
        grid-template-columns: repeat(2,1fr);
    }
    .view a{
        display: block;
        text-align: center;
        
    }
    
}